<% include head %>
    <!--  ❶ 包含另一个模板 -->
    <ul>
        <% articles.forEach((article)=> { %>
            <!-- ❷ 循环遍历每篇文章并渲染它 -->
            <li>
                <a href="/articles/<%= article.id %>">
                    <%= article.title %>
                        <!-- ❸ 将文章的标题作为链接文本 -->
                </a>
            </li>
            <% }) %>
    </ul>
    <% include foot %>