<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        style.
            .mydiv{
                width:200px;
                height:200px;
                background-color:red;
            }
    body
        h1 阿辉标题
        div I'm 'div'.
        div(class="mydiv") I'm "div" whose "class" is "mydiv".
            span I'm 'span'.
        .mydiv2(style={width:"100px",height:"100px",background:"blue"}) I'm "div2"
        #myid I'm "div" whose "id" is "myid".
        //- I'm the pug's comment.
        //- 
            first comment.
            second comment.
        // I'm the html's comment.
        //
            first comment.
            second comment.
        div 
            | hello

